.auth_container {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center; 

  .form_block {
    width: 320px;
    min-height: 625px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    .login_wrapper {
      padding: 25px;
      background: white;
      border-radius: 4px;
      box-shadow: 0 0 0 1px #e7e8ec;
      margin-bottom: 15px;

      .login_form {

        .login_alert {
          width: 90%;
          position: absolute;
          top: -60px;
          right: 0;
        }

        .text_field {
          width: 100%;
          margin: 10px 0;
        }

        .login_form_buttons {
          margin: 10px 0px;

          .login_btn {
            width: 100px;
            background: #5181b8;
            text-transform: none;
            margin-right: 15px;
            border-radius: 3px;
          }

          .restore_btn {
            text-decoration: none;
            color: #2a5885;
            font-size: 13px;
          }
        }
      }
    }

    .signup_wrapper {
      padding: 25px;
      background: white;
      border-radius: 4px;
      box-shadow: 0 0 0 1px #e7e8ec;
      min-height: 297px;
      display: flex;
      flex-direction: column;
     
      .signup_title_block {
        margin: 0px 0px 20px 0px;
        text-align: center;

        .title_header {
          font-size: 20px;
          line-height: 24px;
        }
        
        .title_subheader {
          margin-top: 2px;
          font-size: 13px;
          line-height: 16px;
          color: #626d7a;
        }
      }

      .signup_form {
        
        .register_alert {
          width: 90%;
          position: absolute;
          bottom: -60px;
          right: 0;
        }

        .text_field {
          width: 100%;
          margin: 10px 0;
        }

        .datetime_block {
          display: flex;
          margin: 10px 0;

          .datetime_day {
            flex: 1;
          }
          
          .datetime_month {
            flex: 1.25;
            margin: 0 12px;
          }
          
          .datetime_year {
            flex: 1;
          }
        }

        .continue_btn {
          width: 100%;
          background: #4bb34b;
          margin: 10px 0;
          text-transform: none;
          border-radius: 3px;
        }
        
        .facebook_btn {
          width: 100%;
          background: #1b6dd1;
          margin: 10px 0;
          text-transform: none;
          border-radius: 3px;
        }

      }
    }
    
  }

  .preview {
    height: 645px;
    border-radius: 4px;
    margin-right: 15px;
  }

}

.modal_wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 270px;
  padding: 25px;
  background-color: white;
  border-radius: 4px;


  .register_profile_alert {
    width: 90%;
    position: absolute;
    top: -60px;
    right: 0;
  }

  .text_field {
    width: 100%;
    margin: 10px 0;
  }

  .datetime_block {
    display: flex;
    margin: 10px 0;

    .datetime_day {
      flex: 1;
    }
    
    .datetime_month {
      flex: 1.25;
      margin: 0 12px;
    }
    
    .datetime_year {
      flex: 1;
    }
  }

  .continue_btn {
    width: 100%;
    background: #4bb34b;
    margin: 10px 0;
    text-transform: none;
    border-radius: 3px;
  }

  .close_btn {
    position: absolute;
    color: #5181b8;
    top: 0;
    right: 0;
    padding: 6px;

    &:hover {
      cursor: pointer;
    }
  }

}