.friends_wrapper{
  background: #fff;
	padding: 20px 15px 15px 15px;
	margin: 0px 10px 0px 0px;
	border-radius: 3px;
	box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
  .friends_title{
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #000;
      .friends_number{
        font-size: 12px;
        padding-left: 10px;
        color: #777;
      }
    
  }
  .friends_icon{
    display: flex;
    justify-content: space-between;
    padding: 15px 0 0 0;
    flex-wrap: wrap;
  }
  .friends_item{
    margin: 3px;
    img {
      height: 50px;
      border-radius: 50%;
      width: 50px;
    }
    p {
      font-size: 12px;
      color: #444;
      margin-top: 5px;
      text-transform: capitalize;
    }
  }
}