.friend_list_switcher {
  background: #fff;
  border-top: 1px solid #e7e8ec;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-animation: top 0.4s ease-in-out;
  animation: top 0.4s ease-in-out;
  margin-top: 15px;
  margin-left: 10px;
  padding: 10px 0;
  width: 200px;
  height: fit-content;
}

.friend_list_switcher ul {
  width: 100%;
}

.friend_list_switcher ul li {
  color: #285473;
  -webkit-text-decoration: none;
  text-decoration: none;
  font-size: 13px;
  opacity: 0.8;
  line-height: 1.5;
  text-align: left;
  padding: 10px 20px;
  cursor: pointer;
}

.friend_list_switcher ul li:hover {
  background-color: #e5ebf1;
}

.friend_link {
	text-decoration: none;
	cursor: pointer;
}

/////////////////////// SWITCH FRIENDS

.switch_friends_container {
  border-radius: 2px 2px 0 0;
	background-color: #fff;
	border-bottom: 1px solid #e7e8ec;
	padding: 0 20px;
	display: flex;
	justify-content: flex-start;
	margin-top: 15px;
}

.all_friends_btn {
  border-bottom: 1px solid #5b88bd;
	padding: 18px 7px;
	margin-left: 20px;
	font-size: 14px;
	cursor: pointer;
	color: #656565;
	&:first-child {
		margin-left: 0px;
	}
}

/////////////////////// FOLLOWERS

.followers_container {
  position: relative;
	background: #fff;
	border-radius: 2px;
	box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
	margin: 15px 0 0;
	animation: top 0.4s ease-in-out;
}

.followers_top {
  display: flex;
	background: #fafbfc;
	padding: 0 20px;
	height: 54px;
	line-height: 54px;
	border-bottom: 1px solid #e7e8ec;
	border-radius: 2px 2px 0 0;
	font-size: 16px;
	text-align: left;
}

.followers_count {
  font-size: 14px;
	color: #939393;
	padding: 0 7px;
}

.follower {
  padding: 10px 20px;
	display: flex;
	justify-content: flex-start;
}

.follower_photo {
  width: 80px;
	height: 80px;
	border-radius: 50%;
	background-size: cover;
	background-position: center;
}

.follower_info {
  margin-left: 20px;
	text-align: left;
	padding-top: 5px;
}

.follower_name {
  font-size: 14px;
	color: #2a5885;
	margin-bottom: 15px;
	font-weight: 700;
}

.friends_container {
  width: 65%;
	min-height: 750px;
	margin-left: 45px;
}

.follower_loader_wrapper {
	margin-top: 50px;
}

.follower_btn {
	padding: 7px 15px;
	margin: 0;
	font-size: 14px;
	display: inline-block;
	zoom: 1;
	cursor: pointer;
	white-space: nowrap;
	text-align: center;
	background-color: #5b88bd;
	color: #fff;
	border: 0;
	border-radius: 4px;
	margin: 0 7px 0 0;
}

.disabled_follow_btn {
	background-color: #e0e4e9 !important;
}

.transparent_btn {
	padding: 7px 15px;
	margin: 0;
	font-size: 14px;
	display: inline-block;
	zoom: 1;
	cursor: pointer;
	white-space: nowrap;
	text-align: center;
	background-color: #5b88bd;
	color: #fff;
	border: 0;
	border-radius: 4px;
	margin: 0 7px 0 0;
	background-color: transparent;
	color: #55677d;
	&:hover {
		background: #d6dae0;
		transition: all 0.3s;
	}
}

.follower_style {
	opacity: 0.5;
}

.follower_status {
	padding: 7px 15px;
	margin: 0;
	font-size: 14px;
	display: inline-block;
	zoom: 1;
	white-space: nowrap;
	text-align: center;
	background-color: #5b88bd;
	color: #fff;
	border: 0;
	border-radius: 4px;
	margin: 0 7px 0 0;
}

///////////////////////////////// FRIENDS SEARCH

.friends_search_container {
  border-bottom: 1px solid #e7e8ec;
	background-color: #fff;
	display: flex;
	justify-content: flex-start;
	padding: 0 20px;
	animation: top 0.4s ease-in-out;
	align-items: center;
	position: relative;
}

.friends_search_field {
  padding-left: 28px;
	font-size: 14px;
	padding: 20px 44px 20px 14px;
	border: none;
	outline: none;
	color: #656565;
	opacity: 0.7;
	width: 70%;
	&::placeholder {
		color: #656565;
		opacity: 0.7;
	}
}

.parameters_search_container {
  background: #ffff;
	border: 1px solid #c5d0db;
	padding: 20px 16px;
	border-radius: 4px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	position: absolute;
	right: 0;
	top: 40px;
	width: 200px;
	text-align: left;
	z-index: 2;
}

.search_label {
  font-size: 12px;
	color: #000;
	margin: 10px 0;
	font-weight: bold;
}

.choise_city {
  width: 100%;
	padding: 5px 0;
	border: 1px solid #d3d9de;
	outline: none;
	font-size: 14px;
}

.choise_age {
  display: flex;
	justify-content: space-between;
}

.choise_age_from,
.choise_age_to {
  margin: 0 3px;
}

.choise_age_option {
  background: #fff;
	padding: 10px 0;
	font-size: 12px;
	color: #333;
	&:hover {
		background: #d3d9de;
		transition: all 0.3s;
	}
}

.choise_sex {
  padding-top: 10px;
}

.choise_sex_label {
  cursor: pointer;
	display: block;
	width: 100%;
	padding: 5px 0;
}

.choise_sex_text {
  font-size: 12px;
	color: #444;
	margin-left: 5px;
}

.choise_item {
  background: #fff;
	padding: 10px 0;
	font-size: 12px;
	color: #333;
	&:hover {
		background: #d3d9de;
		transition: all 0.3s;
	}
}

/////////////////////// FRIEND

.friend_item_container {
  background: #fff;
	border-top: 1px solid #e7e8ec;
	padding: 12px 25px;
	display: flex;
	justify-content: flex-start;
	animation: top 0.4s ease-in-out;
	&:first-child {
		border-top: 0;
	}
}

.friend_item_photo {
  width: 80px;
	height: 80px;
	border-radius: 50%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.friend_info {
  margin-left: 20px;
	text-align: left;
}

.friend_name {
  color: #2a5885;
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 8px;
}