.header_profile {
  display: flex;
  margin-left: auto; 
  position: relative; 
  .profile_block{
    display: flex;
	  flex-basis: 50%;
	  justify-content: flex-end;
	  align-items: center;
	  padding: 0px 10px 0px 10px;
	  span {
		  font-weight: bold;
		  font-size: 12px;
		  color: #fff;
	  }
	  cursor: pointer;
	  &:hover {
		  background: #3d6898;
		  transition: all 0.3s;
	  }
}
  .menu_active {
    position: absolute;
    width: 200px;
    height: auto;
    background-color: white;
    top: 48px;
    right: 0px;
    box-shadow: 0 1px 3px #d9d9d9;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    &.not_active {
      display: none;
    }

    .menu_content {
      display: flex;
      flex-direction: column;

      .menu_header {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;
        text-decoration: none;
        color: black;
        border-bottom: 1px solid rgba(174, 183, 194, 0.5);
    
        &:hover {
          background: rgba(174, 183, 194, 0.12);
        }

        .photo_style {
          margin-right: 20px;
        }
        
      }

      .menu_list {
        display: flex;
        flex-direction: column;

        .menu_item {
          text-decoration: none;
          color: black;
          padding: 10px;

          &:last-child {
            border-top: 1px solid rgba(174, 183, 194, 0.5);
          }

          &:hover {
            background: rgba(174, 183, 194, 0.12);
          }
        }
      }

    }
  }
  

}
