.profile_info_wrapper {
  background: #fff;
  padding: 10px 20px;
  margin: 10px 0 10px 0px;
  border-radius: 3px;
  text-align: left;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
  .name_title {
    font-size: 19px;
    line-height: 1.5em;
    color: #222;
    display: flex;
    justify-content: space-between;
  }
  .profile_status {
    font-size: 12px;
    color: #222;
    opacity: 0.7;
    line-height: 1.5em;
    padding-bottom: 10px;
    border-bottom: 1px solid #dfe6ed;
  }

  .profile_info {
    margin-top: 10px;
    .profile_info_item {
      padding-top: 10px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      .left_column {
        font-size: 13px;
        color: #444;
        width: 40%;
      }
      .right_column {
        width: 80%;
        font-size: 13px;
        margin-left: 5%;
      }
    }
  }

  .profile_info_numbers {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #dfe6ed;
    display: flex;
    justify-content: center;
    .numbers_item {
      text-decoration: none;
      padding: 10px;
      align-content: center;
      text-align: center;
      .number {
        font-size: 19px;
        color: #42648b;
        padding-bottom: 3px;
        line-height: 21px;
      }
      .description {
        font-size: 13px;
        color: #828282;
        font-weight: normal;
        margin: 3px 0;
        &:hover {
          color: #42648b;
        }
      }
    }
  }
}
