.profile_img_wrapper{
  background: #fff;
	padding: 15px;
	margin: 10px 10px 10px 0;
	border-radius: 3px;
	box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
	img {
		width: 100%;
	}
  .profile_img{
    height: 200px;
    overflow: hidden;
    display: flex;
  }
  .btn{
    margin-top: 10px;
    background: #e5ebf1;
    border: none;
    color: #55677d;
    font-size: 13px;
    font-weight: normal;
    width: 100%;
    border-radius: 4px;
  }
}