.photo_wrapper{
  background: #fff;
	padding: 15px;
	margin: 10px 0 10px 0px;
	border-radius: 3px;
	box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
  .photo_title{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    span {
      font-size: 12px;
      color: #555;
    }
  }
  .loader{

  }
  .photo_items{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
  }
  .photo_modal{

  }
}