.wall_wrapper{
  background: #fff;
	margin: 10px 0px 10px 0px;
	border-radius: 3px;
	box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
  position: relative;
  .add_title{
    padding: 10px 10px 5px 10px;
	  display: flex;
    .profile_img{
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin: 5px;
    }
    .add_input{
      width: 100%;
      display: flex;
      justify-content: center;
      margin-left: 10px;
      &>div{
        padding: 0;
        margin: 0;
        &:after,
        &:before{
          content:none !important;
        }
      }
    }
  }
  .add_panel{
    animation: top 0.4s ease-in-out;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background: #fafbfc;
    border-top: 1px solid #e7e8ec;
    border-radius: 0 0 2px 2px;
    padding: 10px 15px 10px 15px;
    .send_add{
      display: flex;
    	justify-content: space-between;
	    align-items: center;
    }
  }
}
.form_alert {
  width: 40%;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
}